
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #00ff8c;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$black			: #000;

$theme-color1: rgba(22, 28, 136, 0.95);
$theme-color2: rgba(51, 60, 230, 0.95);



